body {
  overflow: hidden;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  cursor:url(../img/hand.png),url(../img/hand.cur),auto;
}

label p span a h1 {
  font-family: 'Roboto', sans-serif;
}

a{
  cursor:url(../img/hand.png),url(../img/hand.cur),auto;
}

*{
    cursor:url(../img/hand.png),url(../img/hand.cur),auto !important;
}

.display{
  width: 360px;
  height: 638px;
  margin: auto;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
}

.page {
  background-color: white;
}

.page-content{
  padding-bottom: 50px;
  background-color: white;
}

.mdl-layout__content{
  background-color: white;
}

iframe {
  margin: 0px;
  padding: 0px;
  background-color: black;

}

.mdl-list__item {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.mdl-layout__header-row {
  padding: 0 16px 0 16px !important;
}

.item {
  width: 100%; 
  border-bottom: 1px solid #e0e0e0; 
  padding-bottom: 25px; 
  padding-top: 25px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.title{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.lbl {
  margin-left: 20px;
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #009688;
  margin-top: 20px;
}

.mdl-list__item-icon {
  color: #009688 !important;
}

hr{
  border-top: 10px solid #ccc;
  margin: 0px;
}

.mdl-list {
  margin-bottom: 0px !important;
  margin-top: 0px !important;

}

.navdroid {
  width: 360px;
  float: left;
  position: absolute;
}

a{
  text-decoration: none;
  color: inherit;
}

.sub_header{
  width: 100%; 
  height: 50px; 
  background-color: #37474F; 
  float: left;
}


/*Swich ativo*/
.mdl-switch.is-checked .mdl-switch__thumb {
  background-color: #80CBC4;
}

.mdl-switch.is-checked .mdl-switch__track {
  background-color: #00796B;
}

/*Swith desativado*/

.mdl-switch__track {
  background-color: rgba(255,255,255,.25);
}


  /*wifi*/

.ativ_desativ{
  margin-left: 35px;
}

.mdl-dialog__title {
    padding: 10px 10px 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.lbl_gray {
    float: left;
    width: 100%;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    margin-top: 5px;
}

.lbl_gray1 {
    width: 100%;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 12px; 
    color: #a6a6a6; 
    margin-left: 16px;
    line-height: 0px;
}

.lbl_gray1:after{
  content:""; 
  display:block; 
  clear:both
}

.mdl-dialog__content {
    padding: 0px 10px 0px;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
  background-color: #00796B;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
  border: 2px solid #00796B;
}

.mdl-checkbox{
  margin-top: 10px; 
}

.mdl-checkbox > span{
  color: black;
  font-size: 13px;
}

.mdl-dialog__actions .mdl-button {
  color: #00796B;
}

/*.mdl-switch.is-checked .mdl-switch__thumb{
  background-color: #00796B;
}*/

.borda_bottom{
  border-bottom: 1px solid #ccc;
}

.borda_bottom-min{
  border-bottom: 1px solid #f2f2f2;
}

.lbl_wifi_desativado {
  font-size: 12px;
  color: #546E7A;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 15px;
}

.lbl_wifi_desativado1 {
  margin: 0 0 2px !important;
  line-height: 20px; 
}

.conectado_wifi{
  font-size: 15px;
  line-height: 15px;
}

.conectado_wifi:after{
  content:""; 
  display:block; 
  clear:both
}

/*WIFI AVANC*/

.padding_right16{
  padding-right: 16px;
}

.mdl-switch__track {
  background-color: #B3B2B2;
}

.mdl-switch__thumb{
  background: #F3F3F3;
}

.minilist_item {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* SCROLLBAR */


/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0,150,136,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,150,136,0.4); 
}


.cinza{
  color: #676767;
}
